In [2]:
import numpy as np
import pandas as pd
df = pd.read_csv('./UCI_Credit_Card.csv')
df = df.rename(columns={'default.payment.next.month': 'default', 'PAY_0': 'PAY_1'})
df = df.drop('ID',axis=1)
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
df.describe()

            LIMIT_BAL           SEX     EDUCATION      MARRIAGE           AGE         PAY_1         PAY_2         PAY_3         PAY_4         PAY_5         PAY_6      BILL_AMT1      BILL_AMT2     BILL_AMT3      BILL_AMT4      BILL_AMT5      BILL_AMT6       PAY_AMT1      PAY_AMT2      PAY_AMT3       PAY_AMT4       PAY_AMT5       PAY_AMT6       default
count    30000.000000  30000.000000  30000.000000  30000.000000  30000.000000  30000.000000  30000.000000  30000.000000  30000.000000  30000.000000  30000.000000   30000.000000   30000.000000  3.000000e+04   30000.000000   30000.000000   30000.000000   30000.000000  3.000000e+04   30000.00000   30000.000000   30000.000000   30000.000000  30000.000000
mean    167484.322667      1.603733      1.853133      1.551867     35.485500     -0.016700     -0.133767     -0.166200     -0.220667     -0.266200     -0.291100   51223.330900   49179.075167  4.701315e+04   43262.948967   40311.400967   38871.760400    5663.580500  5.921163e+03    5225.68150    4826.076867    4799.387633    5215.502567      0.221200
std     129747.661567      0.489129      0.790349      0.521970      9.217904      1.123802      1.197186      1.196868      1.169139      1.133187      1.149988   73635.860576   71173.768783  6.934939e+04   64332.856134   60797.155770   59554.107537   16563.280354  2.304087e+04   17606.96147   15666.159744   15278.305679   17777.465775      0.415062
min      10000.000000      1.000000      0.000000      0.000000     21.000000     -2.000000     -2.000000     -2.000000     -2.000000     -2.000000     -2.000000 -165580.000000  -69777.000000 -1.572640e+05 -170000.000000  -81334.000000 -339603.000000       0.000000  0.000000e+00       0.00000       0.000000       0.000000       0.000000      0.000000
25%      50000.000000      1.000000      1.000000      1.000000     28.000000     -1.000000     -1.000000     -1.000000     -1.000000     -1.000000     -1.000000    3558.750000    2984.750000  2.666250e+03    2326.750000    1763.000000    1256.000000    1000.000000  8.330000e+02     390.00000     296.000000     252.500000     117.750000      0.000000
50%     140000.000000      2.000000      2.000000      2.000000     34.000000      0.000000      0.000000      0.000000      0.000000      0.000000      0.000000   22381.500000   21200.000000  2.008850e+04   19052.000000   18104.500000   17071.000000    2100.000000  2.009000e+03    1800.00000    1500.000000    1500.000000    1500.000000      0.000000
75%     240000.000000      2.000000      2.000000      2.000000     41.000000      0.000000      0.000000      0.000000      0.000000      0.000000      0.000000   67091.000000   64006.250000  6.016475e+04   54506.000000   50190.500000   49198.250000    5006.000000  5.000000e+03    4505.00000    4013.250000    4031.500000    4000.000000      0.000000
max    1000000.000000      2.000000      6.000000      3.000000     79.000000      8.000000      8.000000      8.000000      8.000000      8.000000      8.000000  964511.000000  983931.000000  1.664089e+06  891586.000000  927171.000000  961664.000000  873552.000000  1.684259e+06  896040.00000  621000.000000  426529.000000  528666.000000      1.000000

In [8]:
classes = df['default'].unique()

# Create an empty DataFrame to store the sampled data
sampled_df = pd.DataFrame(columns=df.columns)

# # Sample half of each class
for class_label in classes:
    class_data = df[df['default'] == class_label]
    num_samples_to_keep = 1000
    sampled_data = class_data.sample(n=1000, random_state=37)
    sampled_df = pd.concat([sampled_df, sampled_data])

# # Reset the index of the sampled DataFrame
sampled_df.reset_index(drop=True, inplace=True)

In [9]:
classes

array([1, 0])

In [10]:
sampled_df

      LIMIT_BAL SEX EDUCATION MARRIAGE AGE PAY_1 PAY_2 PAY_3 PAY_4 PAY_5 PAY_6  BILL_AMT1  BILL_AMT2  BILL_AMT3  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6 default
0       40000.0   1         2        2  24     4     3     2     3     2     2    38344.0    37433.0    38862.0    39125.0    39408.0    40925.0       0.0    2335.0    1200.0    1225.0    2300.0    1396.0       1
1      240000.0   1         1        1  43     0     0     0     0     0     0   223151.0   226688.0   230690.0   213633.0   176135.0   179027.0    7766.0    8300.0    7200.0    6200.0    6550.0    6107.0       1
2       20000.0   2         3        2  48     1     3     2     4     5     4    18038.0    18445.0    21556.0    22824.0    22192.0    21271.0    1000.0    3700.0    1900.0       0.0       0.0       0.0       1
3      150000.0   1         2        2  36    -1    -1    -2    -2    -2    -2     5382.0        0.0        0.0        0.0        0.0        0.0       0.0       0.0       0.0       0.0       0.0       0.0       1
4       50000.0   1         3        2  34     2     2     2     2     3     2    44951.0    45906.0    46872.0    49974.0    50023.0    53367.0    2000.0    2000.0    4200.0    1170.0    4300.0       0.0       1
...         ...  ..       ...      ...  ..   ...   ...   ...   ...   ...   ...        ...        ...        ...        ...        ...        ...       ...       ...       ...       ...       ...       ...     ...
1995   200000.0   2         1        1  40     1    -2    -2    -2    -2    -2     2418.0        0.0        0.0        0.0        0.0        0.0       0.0       0.0       0.0       0.0       0.0       0.0       0
1996   190000.0   2         1        2  40     0     0     0     0     0     0    78388.0    80740.0    83134.0    96310.0    98411.0   107391.0    3600.0    4000.0   14000.0    3000.0   10000.0    4000.0       0
1997   100000.0   2         3        1  57     0     0     0     0     0     0   101890.0   100403.0   101350.0   101324.0   101475.0   100558.0    4000.0    4000.0    4000.0    4000.0    4000.0    4000.0       0
1998    20000.0   1         2        2  25     0     0    -1     0     0     0     5347.0    -1077.0     3347.0     4426.0     1906.0      942.0    5006.0    5000.0    2000.0       0.0     900.0       0.0       0
1999   130000.0   2         3        1  43     0     0     0     0     0     0   130067.0   129385.0    96775.0    98071.0    97743.0   100124.0    5540.0    4403.0    3814.0    3562.0    4021.0    3681.0       0

[2000 rows x 24 columns]